<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!--  <add key="Service" value="http://192.168.1.114:9000/RepairService/json/" />-->
    <!--<add key="Service" value="http://60.12.52.214:6508/RepairService/json/" />-->
 <add key="Service" value="http://192.168.1.203:82/RepairService/json/"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />

      </customHeaders>
    </httpProtocol>
  </system.webServer>

</configuration>
